.site-card-wrapper {
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-inline: 40rem;
    background: url(../assets/Joker-Tattoo2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}